<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Job Search Application</title>
    <link rel="stylesheet" href="/styles.css">
    <script>

        async function registerClient(event) {
            event.preventDefault();
            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const response = await fetch('/client', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({email,name})
            });

            const result = await response.text();
            const msgDiv = document.getElementById("message");
            if (response.ok) {
                msgDiv.textContent = result.message;
                msgDiv.classList.add("success-msg");
                msgDiv.classList.remove("error-msg");

                const validateResponse = await fetch('/session/validate');
                const validateResult = await validateResponse.json();

                if (validateResult.status === "success") {
                    window.location.href = "/";
                }
            } else {
                msgDiv.textContent = "Registration failed: " + result;
                msgDiv.classList.add("error-msg");
                msgDiv.classList.remove("success-msg");
            }

        }

    </script>
</head>
<body>

<h1>Job Search Application</h1>
<h2>Please register get access and browse in our job listing!</h2>

<div class="menu">
    <section id="clientRegistration">
        <h2>Client Registration</h2>
        <form id="registrationForm" onsubmit="registerClient(event)">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <button type="submit">Register</button>
        </form>
        <p id="message"></p>
    </section>
</div>




</body>
</html>
